html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #6f6f6f;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #000;
}

* {
  box-sizing: border-box;
}

body > header {
  position: relative;
  padding: 0px 10px;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  line-height: 1em;
  height: 45px;
}
body > header section.logo {
  display: flex;
  align-items: center;
}
body > header #controls {
  margin-left: 30px;
}
body > header a {
  text-decoration: none;
  color: inherit;
  margin-left: 3px;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  vertical-align: middle;
  padding: 0px 10px;
}
body > header a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
body > header img {
  height: 30px;
  filter: brightness(0) invert(1);
  vertical-align: middle;
  margin-top: -3px;
}
body > header nav {
  display: flex;
}
body > header nav .lightToggle {
  display: none;
  line-height: 45px;
}
body > header nav .lightToggle input {
  font-size: 20px;
}
body > header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

body > footer {
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  background: black;
  color: white;
  font-size: 13px;
  width: 100%;
  padding: 3px 10px;
}
body > footer a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

div.hspacer {
  display: block;
  height: 15px;
  width: 100%;
}
div.hspacer.x2 {
  height: 30px;
}
div.hspacer.x3 {
  height: 45px;
}
div.hspacer.x4 {
  height: 60px;
}
div.hspacer.x5 {
  height: 75px;
}
div.hspacer.x6 {
  height: 90px;
}
div.hspacer.x7 {
  height: 105px;
}

body > main {
  background: rgb(50, 50, 50);
  min-height: calc(100vh - 70px);
  padding-bottom: 40px;
}

#run {
  display: none;
}

body.codingEnviroment .lightToggle {
  display: block;
}
body.codingEnviroment #run {
  display: block;
}
body.codingEnviroment > main {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 0px;
  width: 100%;
  display: flex;
  height: calc(100vh - 66px);
  outline: 1px solid yellow;
  background-color: black;
}
body.codingEnviroment > main #codeColumn {
  width: 50%;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body.codingEnviroment > main #codeColumn:not(.tests) a:first-child {
  color: rgb(157, 0, 0);
  background-color: rgb(21, 21, 21);
  font-weight: 700;
  border-color: rgba(255, 255, 255, 0.33);
  border-bottom: 1px solid rgb(21, 21, 21);
}
body.codingEnviroment > main #codeColumn.tests a:nth-child(2) {
  color: rgb(157, 0, 0);
  background-color: rgb(21, 21, 21);
  font-weight: 700;
  border-color: rgba(255, 255, 255, 0.33);
  border-bottom: 1px solid rgb(21, 21, 21);
}
body.codingEnviroment > main #codeColumn.tests #code {
  display: none;
}
body.codingEnviroment > main #codeColumn.tests #tests {
  display: block;
}
body.codingEnviroment > main #codeColumn nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  background: #121219;
  padding-left: 20px;
  padding-top: 3px;
}
body.codingEnviroment > main #codeColumn nav a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  margin-bottom: -1px;
}
body.codingEnviroment > main #codeColumn nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}
body.codingEnviroment > main .ace_editor {
  height: 100%;
}
body.codingEnviroment > main textarea {
  width: 100%;
  height: 100%;
  background-color: rgb(21, 21, 21);
  padding: 10px 10px;
  border: none;
  resize: none;
  outline: none;
  color: white;
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  font-weight: 400;
}
body.codingEnviroment > main #tests {
  display: none;
}
body.codingEnviroment > main #dragger {
  background: rgb(0, 0, 0);
  height: 100%;
  width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  align-items: center;
  cursor: col-resize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 9;
}
body.codingEnviroment > main #dragger::before {
  z-index: 2;
  position: relative;
  content: "<>";
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  font-weight: 400;
  background: rgb(0, 0, 0);
  position: absolute;
}
body.codingEnviroment > main iframe {
  flex-grow: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(30, 30, 30);
  font-size: 30px;
}

body.dragging {
  cursor: col-resize !important;
}
body.dragging iframe {
  pointer-events: none;
}
body.dragging textarea {
  cursor: col-resize;
}

dialog[open] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  display: block;
  top: 10%;
  left: 50%;
  width: 500px;
  margin: 0;
  margin-left: -250px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  z-index: 999;
}
dialog[open] header {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(229, 229, 229);
}
dialog[open] header .close {
  border: 0;
  background: 0;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 10px;
}
dialog[open] header h1, dialog[open] header h4 {
  margin: 0;
  padding: 0;
}
dialog[open] main {
  padding: 10px 15px;
}
dialog[open] footer {
  border-top: 1px solid rgb(229, 229, 229);
  padding: 10px 15px;
  text-align: right;
}

.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid silver;
  background: white;
  box-shadow: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 300ms ease, box-shadow 300ms ease;
  text-decoration: none;
  color: black;
  display: inline-block;
}
.btn.big {
  padding: 18px 30px;
  font-size: 1.4em;
}
.btn:hover {
  background: rgb(241, 241, 241);
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.312);
}
.btn.success {
  border-color: #23923d;
  color: white;
  background: #28a745;
}
.btn.success:hover {
  background: #23923d;
}
.btn.info {
  background: #007bff;
  color: white;
  border-color: #006fe6;
}
.btn.info:hover {
  background: #006fe6;
}
.btn.outline {
  background-color: transparent;
  color: white;
}
.btn.outline:hover {
  border-color: #a7a7a7;
  background: rgba(255, 255, 255, 0.1);
}

span.hamburger {
  line-height: 15px;
  font-size: 24px;
  vertical-align: middle;
  margin-top: -4px;
  display: inline-block;
  margin-left: 4px;
}

img {
  max-width: 100%;
}

img.example {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 575px) {
  body > header nav ul {
    display: none;
  }
}
input[type=checkbox] {
  outline: none;
  font-size: inherit;
  vertical-align: middle;
  width: 1.6em;
  height: 1em;
  background: silver;
  border-radius: 1em;
  border: none;
  position: relative;
  top: -1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  box-sizing: content-box;
  transition: all 200ms ease;
}
input[type=checkbox]:hover {
  filter: brightness(0.92);
}
input[type=checkbox]::before {
  content: "";
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  background: white;
  top: 0.098em;
  border-radius: 100%;
  transition: all 200ms ease;
  box-shadow: 0.05em 0.05em 0.15em rgba(0, 0, 0, 0.353);
}
input[type=checkbox]:not(:checked)::before {
  left: 0.09em;
}
input[type=checkbox]:checked {
  background: #0ed428;
}
input[type=checkbox]:checked::before {
  left: calc(100% - 0.9em);
}

body.light {
  background-color: rgb(255, 253, 223);
  color: black;
}
body.light ::-webkit-scrollbar {
  background: #ffffff;
}
body.light ::-webkit-scrollbar-thumb {
  background: #858585;
  -webkit-border-radius: 1ex;
}
body.light ::-webkit-scrollbar-corner {
  background: #ffffff;
}
body.light main {
  background: rgb(237, 237, 237);
}
body.light main img[alt="Coolfee logo"] {
  filter: none !important;
}
body.light > header {
  background-color: #fffbee;
  color: black;
}
body.light > header img {
  filter: none;
}
body.light.codingEnviroment main iframe {
  background-color: #fffbee;
}
body.light.codingEnviroment main #codeColumn:not(.tests) a:first-child {
  color: rgb(157, 0, 0);
  background-color: #ededed;
  border-color: rgba(255, 255, 255, 0.33);
  border-bottom: 1px solid #ededed;
}
body.light.codingEnviroment main #codeColumn.tests a:nth-child(2) {
  color: rgb(157, 0, 0);
  background-color: #ededed;
  border-color: rgba(255, 255, 255, 0.33);
  border-bottom: 1px solid #ededed;
}
body.light.codingEnviroment main #codeColumn nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  background: #fffef3;
}
body.light.codingEnviroment main #codeColumn nav a {
  color: black;
}
body.light.codingEnviroment main #codeColumn nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}
body.light.codingEnviroment main #dragger {
  background: rgb(255, 255, 255);
}
body.light.codingEnviroment main #dragger::before {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
body.light.codingEnviroment main textarea {
  background: rgb(255, 244, 243);
  color: black;
}
body.light footer {
  background: white;
  color: black;
}
body.light footer a {
  color: rgb(0, 0, 0);
}

body .CodeMirror {
  height: 100%;
}

nav#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
nav#sticky ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav#sticky ul li {
  margin-bottom: 10px;
}
nav#sticky ul li.p {
  margin-bottom: 5px;
}

code {
  white-space: pre;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: block;
  padding: 4px 4px 4px 20px;
}

.p {
  padding-left: 15px;
  display: block;
}

a {
  color: inherit;
}

hr {
  border-color: rgb(0, 0, 0);
}
/*# sourceMappingURL=style.css.map */